.catalog{
  display: flex;
  height: 10%;
  width:  auto;
  
}


  .services, .recomend{
    display: inline-block;
        padding: 5px ;
        background-color: #e3e;
        border: 3px solid #e55;
  }

  .services:hover{
            background-color: #e9e;
         }

   .recomend :hover{
            background-color: #e9e;
         }
