.object{
    position: absolute;


}
.van{
    top: 30%;
    left: 30%;
    width: 200px;
    height: 200px;
}
#axis:hover .move{
 transform: rotate(1808deg);
    -webkit-transform: rotate(1080deg) ;
}
.object{
    position: absolute;
    transition: all 5s ease-out;
    -webkit-transition: all 3s ease;
}